<web-app>
	<display-name>Artysophy</display-name>
	
	<servlet>
		<servlet-name>GetAllArtistServlet</servlet-name>
		<servlet-class>services.GetAllArtistServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetAllArtistServlet</servlet-name>
		<url-pattern>/getAllArtist</url-pattern>
	</servlet-mapping>
	
	
</web-app>

